* {
  font-family: "Lato", sans-serif;
  color: rgb(97, 92, 92);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#question {
  font-weight: bold;
  font-size: 1.5rem;
}
.unchosen {
  transition: all 0.15s;
}
.chosen {
  transition: all 0.15s;
  /* border: 2px solid #ae2012; */
  background-color: #e9d8a6;
}

.option {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  padding-left: auto;
  padding-right: auto;
  margin: 10px;
}

.text {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #ee9b00;
}

.warning {
  color: orange;
  font-weight: bold;
  font-size: 2rem;
  padding: 25px;
  height: 200px;
  background: linear-gradient(#ffe8d6, #fff);
  border-radius: 50px;
}
.error {
  color: red;
  font-weight: bold;
  font-size: 2rem;
  padding: 25px;
  height: 200px;
  background: linear-gradient(#ffe8d6, #fff);
  border-top: 5px solid green;
  border-radius: 50px;
}

.success {
  color: green;
  font-weight: bold;
  font-size: 2rem;
  padding: 25px;
  height: 200px;
  background: linear-gradient(#ffe8d6, #fff);
  border-top: 5px solid green;
  border-radius: 50px;
}

#reset-btn {
  display: none;
}

#result {
  width: 100vw;
  text-align: center;

  display: none;
  /* border-top: 2px solid; */
  position: relative;
  animation-name: result-animation;
  animation-duration: 1s;
}

@keyframes result-animation {
  0% {
    left: 0px;
    top: 250px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

#next-btn {
  display: none;
}

#main-wrapper {
  display: none;
}

#options-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  border: 3px solid #005f73;
  border-radius: 25px;
  background-color: white;
  cursor: pointer;
  padding: 10px;
  width: 150px;
  font-size: 1.25rem;
}

button:hover {
  background-color: #005f73;
  color: white;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

#question-wrapper {
  position: relative;
  animation-name: question-wrapper-animation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  background-color: #caf0f8;
  text-align: center;
  margin: 20px;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0px 0px 10px #005f73;
}

@keyframes question-wrapper-animation {
  0% {
    background-color: white;
    right: 0px;
    top: -200px;
  }
  100% {
    background-color: #caf0f8;
    right: 0px;
    top: 0px;
  }
}

#option0 {
  position: relative;
  animation-name: option0animation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  border: 2px solid #ee9b00;
}

@keyframes option0animation {
  0% {
    right: 200px;
    top: -200px;
  }
  100% {
    right: 0px;
    top: 0px;
  }
}

#option1 {
  position: relative;
  animation-name: option1animation;
  animation-duration: 0.5s;
  border: 2px solid #ee9b00;
}

@keyframes option1animation {
  0% {
    left: 200px;
    top: -200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

#option2 {
  position: relative;
  animation-name: option2animation;
  animation-duration: 0.5s;
  border: 2px solid #ee9b00;
}

@keyframes option2animation {
  0% {
    right: 200px;
    top: 200px;
  }
  100% {
    right: 0px;
    top: 0px;
  }
}

#option3 {
  position: relative;
  animation-name: option3animation;
  animation-duration: 0.5s;
  border: 2px solid #ee9b00;
}

@keyframes option3animation {
  0% {
    left: 200px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.option:hover {
  background-color: #ee9b00;
  cursor: pointer;
  color: white;
}

.option:hover .text {
  color: white;
}
